<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <%- include('partials/header') %>
  <h2>Willkommen auf der Startseite</h2>
  <p><%= message %></p>
  <%- include('partials/footer') %>
</body>
</html>